@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView Policy="SecurityLevel">
    
    <h1>Welcome back to your accound.</h1>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?"/>